export(choose_font)
export(embed_fonts)
export(font_addpackage)
export(font_import)
export(font_install)
export(fonts)
export(fonttable)
export(loadfonts)
export(ttf_import)
import(extrafontdb)
import(grDevices)
importFrom(Rttf2pt1,which_ttf2pt1)
importFrom(utils,read.csv)
